
.sidebar{
	height: 100%;
	 position: fixed;
    top: 0;
    bottom: 0;
    margin: 0;
    background-color: #849188;
    width: 20%;
    z-index: 200;
    float: left;
}

li{
	list-style-type: none;
}

li:hover{
	background-color: #303030;
	cursor: pointer;
}

.menu li{
	text-align: center;
            padding: 20px;
           margin-right: 115px;
}

#picture1::before{
	padding-left: 20px;
	padding-right: 20px;
	content: url(pencil.png);
}

#picture2::before{
	padding-left: 20px;
	padding-right: 20px;
	content: url(favorites.png);
}

#picture3::before{
	padding-left: 20px;
	padding-right: 20px;
	content: url(clock.png);
}

#picture4::before{
	padding-left: 20px;
	padding-right: 20px;
	content: url(security.png);
}

#picture5::before{
	padding-left: 20px;
	padding-right: 20px;
	content: url(gear.png);
}

.men{
	color: #fff;
	font-size: 30px;
	text-align: center;
	padding-top: 25px;
}
.text{
float: left;
margin-left: 25%;
width: 70%;
}
.sidebar:before{
width: 15%;
}
.sidebar:hover{
width: 30%;
transition: 1s linear;
}
span{
	overflow: hidden;
	opacity:  0;
	color: white;
	font-size: 20px;
}
.sidebar:hover span{
	opacity: 1;
}