.container{
	width: 1200px;
	height: 600px;
	margin: auto;
}

.block{
	float: left;
	width: 250px;
	height: 400px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 50px;
	border-radius: 10px;
	background-color: #fff;
	transition: transform 1s linear;
}

.block:hover{
	transform: scale(1.4, 1.4);
	opacity: 1;
}

.top{
	width: 100%;
	height: 15%;
	text-align: center;
	line-height: 80px;
	font-weight: 600;
	font-size: 20px;
	border-bottom: 2px solid;
}

.price{
	font-size: 40px;
	padding-top: 20px; 
}

#per-month{
	font-size: 20px;
	color: #b2c0cf;
	padding-bottom: 20px;
}

.top-txt{
	padding-top: 25px;
}

.text{
	text-align: center;
	line-height: 30px;
	width: 100%;
	height: 70%;
}

.bottom{
	width: 100%;
	height: 15%;
	text-align: center;
	line-height: 60px;
}

p{
	margin: 0;
	font-size: 12px;
	font-weight: 700;
}


.button{
	width: 100px;
	height: 50px;
	color: #fff;
	margin: auto;
	line-height: 50px;
	border-radius: 6px;
	cursor: pointer;
}

#first-bottom{
	background-color: #b50000;
}

#first{
	border-color: #b50000;
}

#second-bottom{
	background-color: #b2b500;
}

#second{
	border-color: #b2b500;
}

#third-bottom{
	background-color: #00801b;
}

#third{
	border-color: #00801b;
}

#fourth-bottom{
	background-color: #004680;
}

#fourth{
	border-color: #004680;
}