.container{
	margin-top: 30px;
	margin: auto;
	width: 500px;
	height:300px;
	overflow: scroll;
}

table{
	border-collapse: collapse;
	width: 700px; 
	height: 330px;
	
}
th, td {
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	
}

thead tr th{
	position: sticky;
	z-index: 3;
	top: 0;
	left: 0;
	font-weight: 600;
}
tr{

	
	text-align: center;
}
#th1{
	position: sticky;
	top: 0;
	left: 0;
	z-index: 4;
}
.tab th:nth-child(1){
	background-color: #739ff0;
}

.tab th:nth-child(2){
	background-color: #739ff0;
}

.tab th:nth-child(3){
	background-color: #739ff0;
}

.tab th:nth-child(4){
	background-color: #739ff0;
}

.tab th:nth-child(5){
	background-color: #739ff0;
}

.tab tr td:first-child{
	background-color: #739ff0;
    position: sticky;
	left: 0;
	font-weight: 700;
	z-index: 1
}

.tab tr:nth-child(even){
	background-color: #a5a9b0;
}

